<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScuffCommander</title>
    <script>
      const xhr = new XMLHttpRequest();
      function action(id) {
        xhr.open("GET", document.location.origin + "/click/" + id);
        xhr.send();
      }
    </script>
  </head>
  <body>
    {{#each actions as |a|}}
    <button type="button" onclick="action('{{a}}')">{{a}}</button>
    {{/each}}
  </body>
</html>
