.app {
  height: 100%;
}

.pageContents {
  position: relative;
  top: 56px;
  padding: 0px 20px 20px 20px;
  height: calc(100% - 56px);
  width: 100%;
  overflow-y: scroll;
}

.lightTheme {
  background: #fafafa;
  color: #444;
}
