.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  background: #673ab7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.appTitle {
  padding: 0 15px;
  font-size: 24px;
  line-height: 56px;
  font-weight: 400;
  color: #fff;
}

.navMenu {
  margin-left: auto;
  font-size: 100%;
}

.navMenu ul {
  display: flex;
  padding: 0;
}

.navMenu li {
  list-style-type: none;
}

.navLink {
  display: block;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  text-decoration: none;
  color: #fff;
}

.navLink:hover,
#navHamburger:hover {
  background: rgba(0, 0, 0, 0.2);
}

.navLink:active,
.navLink.active,
#navHamburger:active,
#navHamburger.active {
  background: rgba(0, 0, 0, 0.4);
}

#navHamburger {
  border: 0;
  border-radius: 0;
  color: #ffffff;
  height: 56px;
  width: 56px;
  font-size: 24px;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  display: none;
}

@media screen and (max-width: 590px) {
  #navHamburger {
    display: block;
  }

  .navMenu ul {
    position: absolute;
    top: 56px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 56px);
    background: #3a2169;
    margin: 0;
    overflow-y: scroll;
    display: none;
  }

  .navMenu.expanded ul {
    display: block;
  }
}
